* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: small;
}

.container {
    width: 80%;
    margin: auto;
}

.img-null {
    width: 200px;
    height: 268px;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .card-hover {
        display: flex;
        align-items: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.523);
        width: 100%;
        height: 100%;
        padding: 1rem;
        font-weight: bold;
        font-size:smaller;
        display: none;
        color: bisque;
    }

    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.card:hover .card-hover {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto
}
